<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>login</title>
  <link th:href="@{css/logincss.css}" rel="stylesheet">
</head>
<body>

	<form th:action="@{/login}"  method="post">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
   
</form>
	<a th:href="@{/registre}">Creer un nouveau compte</a>
</body>
 </div>
</html>